.header {
  display: flex;
  padding: 20px 50px 20px 50px;
  background-color: #f1c40f;
}

#avatar {
  flex: 1;
}

#search {
  flex: 5;
}

.ant-input {
  color: #ffffff;
  padding: 10px;
}

.ant-input::placeholder {
  color:rgba(255, 255, 255, 0.65);
  font-weight: 600;
}

#info {
  flex: 1;
}